page-auth {
  .content{
    background-image: url("../../assets/imgs/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -100px;
  }
  .buttons{
    margin-top: 70%;
    button{
      width: 100%;
    }
  }
  ion-footer{
    color: white;
    text-align: center;
  }

}
